<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<p id="PaReq" th:text="${PaReq}"></p>
<p id="requestID" th:text="${requestID}"></p>
<script>
    // Capture JWT value
    var PaReq = document.getElementById("PaReq").innerText;
    var requestId = document.getElementById("requestID").innerText;
    console.log("PaReq value: ", PaReq);
    console.log("Request ID: ", requestId);
</script>

<script>

    window.onload = function() {

    var PAEnrollForm = document.querySelector('#pa-enroll-form');

    if(PAEnrollForm) // step-up form exists

        PAEnrollForm.submit();

    }

</script>

<iframe name="paInlineFrame" height="400" width="400"></iframe>
<form id="pa-enroll-form" method="POST" target="paInlineFrame" action="https://testflex.cybersource.com/payerAuthentication/ruPay/redirection?binType=S">

    <input type="hidden" name="PaReq" th:value="${PaReq}">

    <input type="hidden" name="MD" th:value="${requestID}">

    <input type="hidden" name="TermUrl" value="http://localhost:8080/IFrameRupayResponse">

</form>

<!--<script>-->

<!--    const originalConsole = {-->
<!--              debug: console.debug,-->
<!--              info: console.info,-->
<!--              warn: console.warn,-->
<!--              error: console.error,-->
<!--            };-->

<!--            // Override the console methods to capture messages-->
<!--            ['debug', 'info', 'warn', 'error'].forEach((logLevel) => {-->
<!--              console[logLevel] = function (...args) {-->
<!--                // Custom behavior: Use console.log to print the captured messages-->
<!--                console.log(`[Captured ${logLevel.toUpperCase()}]:`, ...args);-->

<!--                // Call the original console method-->
<!--                if (originalConsole[logLevel]) {-->
<!--                  originalConsole[logLevel].apply(console, args);-->
<!--                }-->
<!--              };-->
<!--            });-->

<!--    // Example fetch call to monitor-->
<!--    fetch('/IFrameResponse', {-->
<!--        method: 'POST',-->
<!--        headers: {-->
<!--            'Content-Type': 'application/json',-->
<!--        },-->
<!--        body: JSON.stringify({ data: event.data }) // Sending the data in the request body-->
<!--    })-->
<!--    .then(response => response.json())  // If you want to handle the response from the server-->
<!--    .then(data => {-->
<!--        console.log('Success:', data);-->
<!--    })-->
<!--    .catch((error) => {-->
<!--        console.error('Error:', error);-->
<!--    });-->

<!--</script>-->
</body>
</html>